@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: auto;
    min-height: 100%;
}
body{
    background-image: url(/img/acuarela.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
}
header{
    margin: 20px 20px;
    background-color: #fffdfa;
    border: 1px solid #5b8b57;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ul-navbar{
    list-style-type: none;
    display: flex;
}
.ul-navbar li{
    margin: 10px;
    padding: 10px;
    
    text-transform: uppercase;
    cursor: pointer;
}
.ul-navbar li:hover{
    color: #d6ae2a;
    text-decoration: underline;
    text-shadow: 1px 1px 1.5em rgb(241, 178, 118);
}
.img-fondo{
    width: 80px;
    padding: 0 0 2px 12px
}

main{
    margin-top: 7%;
    background-color: #fffcf6f5;
    padding: 60px 40px;
    line-height: 1.7em; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}
.esencia{
    width: 60%;
    padding: 0 80px 0 20px;
}
.esencia h1{
    padding-bottom: 30px;
}
.img-esencia{
    margin: 10px;
    overflow: hidden;
}
.img-esencia img{
    width: 500px;
}
.foto2{
    background-image: url(/img/cosmetica1.jpg);
    min-height: 500px;
    position: relative;
    opacity: 0.9; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
.nosotros{
    background-color: #fbf3e1; 
    text-align: center;
    padding: 30px;
    line-height: 1.6em;
    
}
.nosotros h2{
    padding: 10px;
}
.nosotros ul{
    list-style: none;
}
footer{
    background-color: #5d7e4a;
    color: #f8eac9;
    text-align: center;
    height: 5%;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}